<div class="transactions-list">
  <ul *ngIf="transactionsService.transactions.length; else noTransactions">
    <li *ngFor="let transaction of transactionsService.transactions; let i = index">
      <span>
        <strong 
          class="cash" 
          [class.cash-receipts]="transaction.type"
        >
          {{ transaction.amount }}$
        </strong>
        {{ transaction.title | truncate:[20] }}
      </span>
      <small>{{ transaction.date | date: 'medium' }}</small>
      <button (click)="transactionsService.details(transaction.id);" details-button>details</button>
    </li>
  </ul>

  <ng-template #noTransactions>
    <p>No Transactions now</p>
  </ng-template>
</div>