.transactions-list{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.cash {
  color: red;

  &-receipts {
    color: green;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 50px;

  li {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    strong {
      padding-right: 10px;
    }

    small {
      padding-left: 20px;
    }
  }
}
