<div class="transactions-list">
  <ul *ngIf="transactionsService.transactions.length; else noTransactions">
    <li *ngFor="let transaction of transactionsService.transactions; let i = index">
      <span>
        <strong 
          class="cash" 
          [class.cash-receipts]="transaction.type"
        >
          {{ transaction.amount }}$
        </strong>
        {{ transaction.description | truncate:[10] }}
      </span>
      <small>{{ transaction.date | date: 'medium' }}</small>
      <button [routerLink]="['', transaction.id]" class="btn btn-outline-info ml-2">Info</button>
    </li>
  </ul>

  <ng-template #noTransactions>
    <p class="text-center h5 m-3">No Transactions now</p>
  </ng-template>
</div>
