<div class="main">
  <div class="transaction">
    <input 
      class="transaction-form"
      type="number"
      placeholder="Enter the amount"
      [(ngModel)]="transactionsService.amount"
    >
    <input
      class="transaction-form"
      type="text"
      placeholder="Enter the description"
      [(ngModel)]="transactionsService.title"
    >
    <div>
      <button
        class="transaction-button" 
        (click)="transactionsService.addTransaction()"
      >
        Deposit funds
      </button>
      <button
        class="transaction-button"
        (click)="transactionsService.getTransaction()"
      >
        Withdraw funds
      </button>
    </div>
  </div>
</div>
