<div class="col-4 justify-content-center m-auto">
  <form #form="ngForm">
    <div class="form-group">
      <input
        matTooltip="Please type transaction amount"
        class="form-control"
        type="number"
        placeholder="Enter the amount"
        [(ngModel)]="transactionsService.amount"
        name="amount"
        required
      >
    </div>
    <div class="form-group">
      <input
        matTooltip="Please type transaction description"
        class="form-control"
        type="text"
        placeholder="Enter the description"
        [(ngModel)]="transactionsService.title"
        name="title"
        required
      >
    </div>
    <button
      class="btn btn-outline-success ml-3 pl-4 pr-4"
      (click)="transactionsService.addTransaction()"
      [disabled]="form.invalid"
    >
      Deposit funds
    </button>
    <button
      class="btn btn-outline-danger ml-3 pl-4 pr-4"
      (click)="transactionsService.getTransaction()"
      [disabled]="form.invalid"
    >
      Withdraw funds
    </button>
  </form>
</div>
