<div class="form-inline justify-content-center mt-5 mb-5 position-relative">
  <form class="form-group m-auto" (ngSubmit)="budgetService.addBudget(form); removeTransactionList()" #form="ngForm">
    <input
    matTooltip="{{ 'TooltipBudget' | translate }}"
    class="form-control"
    type="number"
    placeholder="{{ 'BudgetFormComponent.InputBudget' | translate }}"
    [(ngModel)] = "budgetService.budget"
    (keydown.enter)="budgetService.addBudget(form); removeTransactionList()"
    name="budget"
    required
    >
    <button 
    class="btn btn-outline-success ml-1"
    type="submit"
    [disabled]="form.invalid"
    >
      {{ 'BudgetFormComponent.BudgetButton' | translate }}
    </button>
  </form>
  <div class="current-budget position-absolute">
    <p>{{ 'CurrentBudget' | translate }}: {{ budgetService.currentBudget }}$</p>
  </div>
</div>
